*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-color: rgba(4, 4, 0, 0.841);
    display: flex;
    flex-direction: row;
    font-family: sans-serif ;
    /* flex-wrap: wrap; */
}
.side_bar{
    /* background-color: rgb(230, 223,223); */
    height: 90vh;
    width: 30vw;
    position: relative;
    left: 30px;
    top: 0px;
    border-radius: 5%;
    margin: 50px;
    padding: 10px;
    
    
    
}
.main_bar{
    background-color:rgba(222, 194, 194, 0.612);
    border-radius: 5%;
    width: 65vw;
    /* position: relative; */
    padding: 30px;
    top: 50px;
    margin: 50px;


}

.info{
    background-color:rgb(133, 136, 133);
    width: auto;
    height: 200px;
     border-radius: 10px ;
    border-top: 5px solid rgba(209, 48, 48, 0);
    /* outline-width: 20px;
    outline-color: rgb(133, 136, 133);
    border-top: 2px  #3a3a3a  solid; */
}
#first{
    background-color: azure;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    left: 40px;
    margin: 15px;
}

.photo{
     background-color:rgb(133, 136, 133);
    width: auto;
    height:33%;
    border-radius: 10px ;
    text-align: center;
 
}

.social{
    background-color: rgb(133, 136, 133);
    width:auto;
    height: 34%;
     border-radius: 10px ;
    /* text-align: center;
    display:flex;
    flex-direction: row; */

}
h{
    color:rgba(7, 5, 5, 0.52) ;
}
.icons{
    width: 33px;
    height: 50px;
    padding-left: 100px;
    padding-top: 30px;
    display:flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

/* main bar */
/* navigation */
#navigation{
    background-color: rgb(165, 16, 36);
    height: 60px;
    width: auto;
    padding: 50px 70px;

}
nav{
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 20px;
    transition: colour 0.3s ease;
    color: blueviolet;
    border-bottom:2px solid gray ;
    margin-left: 250px;
    margin-right: 10px;
    
}
nav a{
    text-decoration: none;
    color: grey;
    padding-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    
}
nav a:hover{
    color: goldenrod;
}
#about{
    padding-top: 20px;

}
.line1{
    width: 150px;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 8%;
    border-top: 10px solid rgba(190, 208, 216, 0.61);
}
#abme{
    color:grey ;
}
#abme:hover{
    color:rgba(247, 179, 6, 0.857);
}
.skil{
    color: grey;
}
.skil:hover{
    color:rgba(247, 179, 6, 0.857);
}
.cantanier_skill{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    /* display: flex;
    flex-direction: row; */
    gap: 30px;
    margin: 10px;
    
}
@media (max-width:900px) {
    .cantanier_skill{
        display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: row; */
    gap: 30px;
    margin: 10px;
    }
}
 .cantanier_skill img{
    background-color:rgba(230, 220, 220, 0.751);
    text-align: center;
    width: 150px;
    height: 150px;
    transition-property: all;
    transform-style: preserve-3d;
    transition-duration: 0.3s;
    border: 2px solid gray;
    padding: 15px;
    
   
 }
 .cantanier_skill h3{
    text-align: center;
    
 }
 .cantanier_skill img:hover{
    transform: scale(1.1); 
 }
.school{
    font-size: large;
}
.firstst{
    position: relative;
    padding-left: 13px;
    box-sizing: content-box;
    border-left: 2px solid rgba(190, 208, 216, 0.61);
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    border: 4px solid goldenrod;
    position: absolute;
    top: 40px;
    left: -8px;
}
.pro1{
    width: 260px;
    height: 300px;
    background-color: rgba(185, 200, 200, 0.83);
    border-radius: 10%;
}
.pro2{
    width: 260px;
    height: 300px;
    border-radius: 10%;
    background-color: rgb(168, 200, 200);
    
}
.proj{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    flex-wrap: wrap;
    transition-property: all;
    transform-style:inherit;
    transition-duration: 4s;
    
}
.porfolio2:hover{
    transform: scale(1.1);
}
.amazon:hover{
    transform: scale(1.1);
}
.amazon{
    width: 300px;
    height: 200px;
    padding-right: 40px;
    padding-left: -40px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10PX;
}
.porfolio2{
    width: 300px;
    height: 200px;
    padding-right: 40px;
    padding-left: -40px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10PX;
}
.clone{
    text-align: center;
    font-weight: 500;
    
    margin-top: -5px;
    border-radius: 15%;
}

